@import 'bootstrap/dist/css/bootstrap.css';

.App {
  text-align: center;
}

.image{
  padding: 20px;
  margin-top: -15px;
}

.content-container{
  margin-top: 30px;
}

.content{
  line-height: 32px;
}



